    <div class="heading">
        <h1>Raspored bot</h1>
    </div>
    <div class="card">
        {{#if before}}
        <form action="/{{subscribeRoute}}" method="POST">
            <div class="form-part">
                <label for="subEmail">Upiši e-mail adresu na koju želiš početi primati izmjene u rasporedu sati</label><br>
                <input type="email" id="subEmail" name="subEmail" required>
            </div>
            <div class="form-part">
                <input type="button" value="Natrag" onclick="window.location.assign('./{{homeRoute}}')">
                <input type="submit" value="Pošalji">
            </div>
        </form>
        {{/if}}

        {{#if after}}
        <form action='/{{subscribeRoute}}/{{tokenURL}}' method="POST">
            <div class="form-part">
                <label for="email">E-mail adresa</label><br>
                <input type="email" id="email" name="email" value={{dbEmail}} readonly><br><br>
            </div>
            <div class="form-part">
                <label for="razred">Odaberi razred</label><br>
                <select id="razred" name="razred">
                    {{#each classL}}
                    <option value="{{id}}">{{ime}}</option>
                    {{/each}}
                </select><br><br>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="saljiSve" name="saljiSve">
                <label for="saljiSve">&nbsp;Želim primati sve izmjene za odabrani razred</label>
                <label for="saljiSve">(Raspored bot  će ti slati obavijesti i kada nemaš izmjena)</label><br>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="tamnaTema" name="tamnaTema">
                <label for="tamnaTema">&nbsp;Želim primati izmjene u tamnoj temi</label>
            </div>
            <div class="form-part">
                <input type="button" value="Natrag" onclick="window.location.assign('./')">
                <input type="submit" value="Pošalji" id="click" name="click">
            </div>
        </form>
        {{/if}}
    </div>