    <div class="card">
        {{#if before}}
        <style>
            @media only screen and (max-width: 700px) {
                .card .form-part input[type="email"] {width: 150px;}
            }

            @media only screen and (max-width: 500px) {
                .card .form-part input[type="email"] {width: 150px;}
            }
        </style>
        <div class="card-heading">
            <h3><b>Registracija</b></h3>
        </div>
        <form action="/{{homeRoute}}/{{subscribeRoute}}" method="POST">
            <div class="form-part">
                <label for="subEmail">Upiši e-mail adresu na koju želiš početi primati izmjene u rasporedu sati</label><br>
                <input type="email" id="subEmail" name="subEmail" placeholder="E-mail" required>
            </div>
            <div class="form-part">
                <input type="button" value="Natrag" onclick="window.location.assign('{{urlP}}')">
                <input type="submit" value="Pošalji">
            </div>
        </form>
        {{/if}}

        {{#if after}}
        <style>
            body {
                min-height: 800px;
            }

            .explain-hidden {
                display: none;
                font-size: 14px;
                width: 20%;
                background-color: #ffdf2b;
                color: #36393F;
                padding: 10px;
                border-radius: 2px;
                position:absolute;
                right: 0;
            }
            .explain:hover + .explain-hidden {
                display:block;
                position: absolute;
            }

            .card {min-height: 40vh;}
            .card .form-part:first-child {
                position: relative;
                right: 25%;
            }
            .card .form-part:nth-child(2) {
                position: relative;
                left: 25%;
                bottom: 135px;
            }

            @media only screen and (max-width: 700px) {
                .card .form-part:nth-child(2) {
                    position: relative;
                    left: 25%;
                    bottom: 124px;
                }

                .card .form-checkbox {
                    position: relative;
                    left: 5%;
                }
            }
            @media only screen and (max-width: 500px) {
                .card .form-part:nth-child(2) {
                    position: relative;
                    left: 25%;
                    bottom: 124px;
                }

                .card .form-checkbox {
                    position: relative;
                    left: 5%;
                }
            }
        </style>
        <div class="card-heading">
            <h3><b>Registracija</b></h3>
        </div>
        <form action='/{{homeRoute}}/{{subscribeRoute}}/{{tokenURL}}' method="POST">
            <div class="form-part">
                <label for="email"><b>E-mail</b></label><br>
                <input type="email" id="email" name="email" value={{dbEmail}} readonly><br><br>
            </div>
            <div class="form-part">
                <label for="razred"><b>Razred</b></label><br>
                <select id="razred" name="razred">
                    {{#each classL}}
                    <option value="{{id}}">{{ime}}</option>
                    {{/each}}
                </select><br><br>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="saljiSve" name="saljiSve">
                <label for="saljiSve">&nbsp;Želim primati sve izmjene za odabrani razred</label>
                <label class="explain">&nbsp;&nbsp;<b>?</b></label>
                <div class="explain-hidden">Raspored bot  će ti slati obavijesti i kada nemaš izmjena</div>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="tamnaTema" name="tamnaTema">
                <label for="tamnaTema">&nbsp;Želim primati izmjene u tamnoj temi</label>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="zastita" name="zastita" required>
                <label for="zastita">&nbsp;Slažem se s <a href="./../{{secureRoute}}">Pravilima o zaštiti podataka *</a></label>
            </div>
            <div class="form-part">
                <input type="button" value="Natrag" onclick="window.location.assign('./')">
                <input type="submit" value="Registriraj" id="click" name="click">
            </div>
        </form>
        {{/if}}
    </div>