    <div class="card">
        {{#if before}}
        <style>
            @media only screen and (max-width: 700px) {
                .card .form-part input[type="email"] {width: 150px;}
            }

            @media only screen and (max-width: 500px) {
                .card .form-part input[type="email"] {width: 150px;}
            }
        </style>
        <div class="card-heading">
            <h3><b>Postavke</b></h3>
        </div>
        <form action="/{{homeRoute}}/{{settingsRoute}}" method="POST">
            <div class="form-part">
                <label for="sEmail">Upiši e-mail adresu na kojoj želiš izvršiti promjene postavki računa</label><br>
                <input type="email" id="sEmail" name="sEmail" placeholder="E-mail" required>
            </div>
            <div class="form-part">
                <input type="button" value="Natrag" onclick="window.location.assign('../{{homeRoute}}')">
                <input type="submit" value="Pošalji">
            </div>
        </form>
        {{/if}}

        {{#if expired}}
        <div class="card-heading">
            <h3><b>Postavke</b></h3>
        </div>
        <p>Link ne postoji ili je istekao, pokušajte ponovno ispuniti obrazac za promjenu postavki računa.</p><br>
        <p>Kliknite <a href="./">ovdje</a> kako bi ispunili obrazac.</p>
        <div class="form-part">
            <input type="button" value="Natrag na početnu" id="end-button" onclick="window.location.assign('/{{homeRoute}}')">
        </div>
        {{/if}}

        {{#if notExpired}}
        <style>
            .card {min-height: 40vh;}
            .card .form-checkbox {
                position: relative;
                top: 1px;
            }

            #username {font-size: large;}

            @media only screen and (max-width: 700px) {
                #username {font-size: 14px;}

                .card .form-checkbox {
                    position: relative;
                    left: 5%;
                }
            }

            @media only screen and (max-width: 500px) {
                #username {font-size: 14px;}

                .card .form-checkbox {
                    position: relative;
                    left: 5%;
                }
            }
        </style>
        <div class="card-heading">
            <h3><b>Postavke - <i id="username">{{email}}</i></b></h3>
        </div>
        
        <form action="/{{homeRoute}}/{{settingsRoute}}/{{tokenURL}}" method="POST">
            <div class="form-part">
                <label for="razred"><b>Razred</b>&nbsp;</label><br>
                <select id="razred" name="razred">
                    <option value="{{classID}}" selected>{{className}}</option>
                    {{#each classL}}
                    <option value="{{id}}">{{ime}}</option>
                    {{/each}}
                </select><br><br>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="saljiSve" name="saljiSve" {{#if sendAll}}checked{{/if}}>
                <label for="saljiSve">&nbsp;Želim primati obavijesti o svim izmjenama</label>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" id="tamnaTema" name="tamnaTema" {{#if darkTheme}}checked{{/if}}>
                <label for="tamnaTema">&nbsp;Želim izmjene u tamnoj temi</label>
            </div>
            <div class="form-checkbox">	
                <input type="checkbox" id="pretplata" name="pretplata" {{#if unsubscribe}}checked{{/if}}>
                <label for="pretplata">&nbsp;Želim pratiti izmjene u rasporedu sati</label>
            </div><br><br><br>
            <div class="form-part">
                <input type="button" value="Natrag" onclick="window.location.assign('./')">
                <input type="submit" value="Promijeni" id="click" name="click">
            </div>
        </form>
        {{/if}}

        {{#if complete}}
        <div class="card-heading">
            <h3><b>Postavke</b></h3>
        </div>
        <p>Uspješno ste promijenili postavke za račun <b>{{email}}</b></p>
        <div class="form-part">
                <input type="button" value="Natrag na početnu" id="end-button" onclick="window.location.assign('../../{{homeRoute}}')">
            </div>
        {{/if}}
    </div>