<!DOCTYPE html>
<html style="font-family: Helvetica, Arial, sans-serif; font-weight: 400;
color: rgb(239, 255, 238);">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Izmjene u rasporedu sati za {{class}}</title>

        <style>
            * {
                padding: 0;
                margin: 0;
            }

            table, tr, td, th {
                border: 1px solid rgb(255, 255, 255);
                border-collapse: collapse;
                border-style: none;
                padding: 5px;
            }

            td {
                text-align: center;
                color: rgb(73, 71, 71);      
            }

            tr {
                background-color: #EEEEEE;
                border-bottom: thin solid #C3C3C3;
            }

            @media only screen and (max-width: 600px) {
                html {
                    background-color: #EEEEEE;
                    padding-top: 50px;
                }
                .background {
                    padding: 0px;
                }
            }

        </style>
        {{#if sat1}}
        <style>#row1 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat2}}
        <style>#row2 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat3}}
        <style>#row3 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat4}}
        <style>#row4 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat5}}
        <style>#row5 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat6}}
        <style>#row6 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat7}}
        <style>#row7 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat8}}
        <style>#row8 { background-color: #ffdf2b; font-weight: bold;}</style>
        {{/if}}

        {{#if sat9}}
        <style>#row9 { background-color: #ffdf2b; font-weight: bold; border: none;}</style>
        {{/if}}
    </head>
    <body>
        <div class="background" style="padding: 50px;">
            <table style="width: 250px; margin-left: auto; margin-right: auto;">
                <caption style="color: rgb(73, 71, 71); font-weight: bold; font-size: 16px;
                padding-bottom: 10px;text-align: left;">{{tableHeading}}<br>{{shiftHeading}}</caption>
                <tr style="background-color: #ffdf2b; border: none;">
                    <th style="color:#595959; font-weight: bold;">Sat</th>
                    <th style="color:#595959; font-weight: bold;">Izmjena</th>
                </tr>
                <tr id="row1">
                    <td id="period1">{{j}}.</td>
                    <td><b>{{scheduleChangesSat1}}</b></td>
                </tr>
                <tr id="row2">
                    <td id="period2">&nbsp;{{j1}}.</td>
                    <td><b>{{scheduleChangesSat2}}</b></td>
                </tr>
                <tr id="row3">
                    <td id="period3">&nbsp;{{j2}}.</td>
                    <td><b>{{scheduleChangesSat3}}</b></td>
                </tr>
                <tr id="row4">
                    <td id="period4">&nbsp;{{j3}}.</td>
                    <td><b>{{scheduleChangesSat4}}</b></td>
                </tr>
                <tr id="row5">
                    <td id="period5">&nbsp;{{j4}}.</td>
                    <td><b>{{scheduleChangesSat5}}</b></td>
                </tr>
                <tr id="row6">
                    <td id="period6">&nbsp;{{j5}}.</td>
                    <td><b>{{scheduleChangesSat6}}</b></td>
                </tr>
                <tr id="row7">
                    <td id="period7">&nbsp;{{j6}}.</td>
                    <td><b>{{scheduleChangesSat7}}</b></td>
                </tr>
                <tr id="row8">
                    <td id="period8">&nbsp;{{j7}}.</td>
                    <td><b>{{scheduleChangesSat8}}</b></td>
                </tr>
                <tr id="row9" style="border: none;">
                    <td id="period9">&nbsp;{{j8}}.</td>
                    <td><b>{{scheduleChangesSat9}}</b></td>
                </tr>
            </table>
            <footer style="margin-left: auto; margin-right: auto; width: 350px; text-align: center;">
                <p style="color:#595959; font-size: 12px; margin-bottom: 25px; margin-top: 30px;">E-mail poruka poslana je {{email}}.
                Ako ne želite primati e-mail poruke od Raspored bota u budućnosti,
                možete promijeniti <a href="{{urlRoute}}/{{homeRoute}}/{{settingsRoute}}" target="_blank" style="color: rgb(73, 71, 71); font-weight: bolder;">postavke Vašeg profila</a>
                ili <a href="{{urlRoute}}/{{homeRoute}}/{{unsubscribeRoute}}" target="_blank" style="color: rgb(73, 71, 71); font-weight: bolder;">poništiti pretplatu</a>.</p>

                <p style="color:#595959; font-size: 12px;">Lijep pozdrav,</p>
                <p class="copyright" style="color:#595959; font-size: 12px;">© BrownBird Team</p>
            </footer>
        </div>
    </body>
</html>