<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Dobrodošlica</title>
        <style>
            * 
            {
                padding: 0;
                margin: 0;
            }
            html 
            {
                margin-left: auto;
                margin-right: auto;
                width: 600px;
                font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
                font-weight: bold;
                color: rgb(73, 71, 71);
                padding-top: 100px;
            }
            .welcome 
            {
                width:250px;
                margin-left: auto;
                margin-right: auto;
            }
            .welcome b
            {
                color: #5865F2;
            }
            table, tr, td, th
            {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
            }
            td {
                text-align: center;
                color: rgb(73, 71, 71);      
            }
            table {
                margin-left: auto;
                margin-right: auto;
                width: 250px;
                margin-top: 250px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            }
            caption
            {
                font-weight: bold;
            }
            .footer p 
            {
                color: rgb(73, 71, 71);
            }
            .footer 
            {
                width: 400px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 200px;
            }
            @media only screen and (max-width: 600px) {
                html {
                    padding-top: 0px;
                }
                .footer {
                    width: 300px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 100px;
                    padding-bottom: 20px;
                }
                .background {
                    padding: 0px;
                }
            }
        </style>
    </head>
    <body>
        <div class="background">
            <div class="welcome">
                <p>Bok <b>{{email}}</b>, Raspored bot ti želi dobrodošlicu!</p>
            </div>
            <table>
                <caption>Vaša konfiguracija</caption>
                <tr>
                    <th>Adresa</th>
                    <th>Razred</th>
                    <th>Sve obavijesti</th>
                    <th>Tamna tema</th>
                </tr>
                <tr>
                    <td>{{email}}</td>
                    <td>{{class}}</td>
                    <td>{{sendAll}}</td>
                    <td>{{darkTheme}}</td>
                </tr>
            </table>
            <div class="footer">
                <p>
                Ova poruka je poslana <b>{{email}}</b>. Ako ne želite
                primati ove poruke od <b>Raspored bota</b> u budućnosti,
                možete promijeniti <a class="link" href="{{urlRoute}}/{{settingsRoute}}" target="_blank">postavke Vašeg profila</a> ili
                kliknuti na <a class="link" href="{{urlRoute}}/{{unsubscribeRoute}}" target="_blank">poništi pretplatu</a>.
                </p>
            </div>
        </div>
    </body>
</html>