<!DOCTYPE html>
<html lang="en" style=" width: 500px; font-family: Helvetica, Arial, sans-serif;
color: rgb(73, 71, 71); margin: 10px;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promijena postavki računa</title>
    <style>
        *{padding: 0; margin: 0;}
    </style>
</head>
<body>
    <div class="message" style="width: 500px; margin: 50px;">
        <p style="margin-bottom: 25px;">Pozdrav <b>{{email}}</b>,</p>

        <p style="margin-bottom: 25px;">Poslali smo Vam ovu e-mail poruku kako biste znali da ste
        uspješno promijenili postavke računa Raspored bota.</p>

        <p style="margin-bottom: 25px;">Vaša trenutna konfiguracija:</p>

        <ul style="margin-bottom: 25px; list-style-position: inside;">
            <li>adresa: <b>{{email}}</b></li>
            <li>razred: <b>{{className}}</b></li>
            <li>pretplata: <b>{{subscribed}}</b></li>
            <li>izmjene: <b>{{sendAll}}</b></li>
            <li>tema: <b>{{theme}}</b></li>
        </ul>
    </div>
    <footer style="width: 400px; text-align: left;">
        <p style="color:#595959; font-size: 12px; margin-bottom: 25px; margin-left: 50px; margin-top: 25px;">E-mail poruka poslana je {{email}}.
        Ako ne želite primati e-mail poruke od Raspored bota u budućnosti,
        možete promijeniti <a href="{{urlRoute}}/{{homeRoute}}/{{settingsRoute}}" target="_blank" style="color: rgb(73, 71, 71); font-weight: bolder;">postavke Vašeg profila</a>
        ili <a href="{{urlRoute}}/{{homeRoute}}/{{unsubscribeRoute}}" target="_blank" style="color: rgb(73, 71, 71); font-weight: bolder;">poništiti pretplatu</a>.</p>

        <p style="color:#595959; font-size: 12px; margin-left: 50px;">Lijep pozdrav,</p>
        <p class="copyright" style="color:#595959; font-size: 12px; margin-left: 50px;">© BrownBird Team</p>
    </footer>
</body>
</html>